
.expolre-toolbar
{
  --background: ion-color-white;
  ion-avatar
  {
    height: 2.5rem;
    margin-left: 10px;
    width: 2.5rem;
    
  }

  ion-title
  {
    img
    {
      height: 20px;
    }
  }
}

.custom-input {
  border: none; /* Remove the border */
  outline: none; /* Remove the outline on focus */
  /* Add any other custom styles you want */
}

.explore-page {
  &.explore-bg {
    --background: linear-gradient(var(--ion-color-white), var(--ion-color-light));
  }


}



